* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 position: relative;
}
.main-container {
 min-height: 96vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 47px; /* height of your footer */
}
footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #333333;
	color: white;
}

.bg {
    /* The image used */
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../img/background.jpg");

    /* Full height */
    height: 415px; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_text {
	color: white;
}

.top-buffer { 
	padding-top: 40px; 
}

.btn_color {
	background-color: #da3743;
	color: white;
}

.media-body {
	padding-left: 0.5%;
}

.logo_text_color {
	color: #da3743;
}
